@charset "utf-8";

/* pointweb.co.kr by GIL */

/* 부산어묵 역사 */
#fishcake .section2 {background:url("/_public/images/sub/br3.jpg") 50% 50% no-repeat;background-size: cover;margin-bottom:0}
#fishcake .section3 {background-color:#edc96b}
#fishcake .section3 span {max-width:208px;display:inline-block;text-align:center}
#fishcake .section3 span img:first-child {padding-bottom:2rem}
	/* 부산어묵 미디어쿼리 */
@media all and (max-width:990px) {
#fishcake .section2 .boxl { padding: 3.5rem 0 0 0;}
#fishcake .section2 .boxr { padding-top:0}
#fishcake .section3 span {max-width:208px;display:inline-block;text-align:center}
#fishcake .section3 span img:first-child {width:130px;padding-bottom:1rem}
#fishcake .section3 span img:last-child {display:none}
}

/* 초량시장 원조어묵 */
#choryang {background:url("/_public/images/sub/br4.jpg") 50% 50% no-repeat;background-size: cover;min-height:1118px}
#choryang .box {width:100%;display:inline-block;}
#choryang h3 {text-align:center}
#choryang h3.sstitle:after {right:0;margin:0 auto}
#choryang h4 {font-size:2.353rem;letter-spacing:-0.2rem}
#choryang li {width:30%;float:left;margin-right:10.5%;max-width:316px;height:436px;text-align:center;padding:4rem 0}
#choryang li:first-child,
#choryang li:nth-child(2) {background:url("/_public/images/sub/br9.svg") center top no-repeat;background-size: cover;}
#choryang li:last-child {background:url("/_public/images/sub/br10.svg") center top no-repeat;background-size: cover;}
#choryang li strong {display:block;font-size:1.353rem;margin-top:0.7rem}
#choryang li .icon {display:block;padding:1rem 0 1.7rem 0}
#choryang li .icon img {width:97px;}
	/* 초량시장 미디어쿼리 */
@media all and (max-width:1199px) {
#choryang li {width:31%;margin-right:3.5%;max-width:300px;height:436px;background-size:contain !important}
}
@media all and (min-width:991px) {
#choryang li:last-child {margin-right:0}
}
@media all and (max-width:990px) and (min-width:768px) {
#choryang li {width:31%;margin-right:1.5%;max-width:300px;height:auto;padding:2rem 0}
#choryang h3, #choryang em {text-align:center;font-size:2.000rem}
#choryang li .icon {padding:0.5rem 0 0 0;height:84px}
#choryang li .icon img {width:80px}
#choryang li p {padding:1rem 0.5rem;line-height:1.6;font-size:1rem}
}
@media all and (max-width:767px) {
#choryang {padding-bottom:3rem}
#choryang .box {margin-top:2rem;}
#choryang h3, #choryang em {text-align:center;font-size:2.000rem}
#choryang li {width:316px;float:none;margin-right:0;height:334px;text-align:center;padding:3rem 0;margin:0 auto;margin-bottom:3rem}
#choryang li:first-child,
#choryang li:nth-child(2) {background:url("/_public/images/sub/br9_m.svg") center top no-repeat;background-size: cover;}
#choryang li:last-child {background:url("/_public/images/sub/br10_m.svg") center top no-repeat;background-size: cover;}
#choryang li .icon {padding:0.5rem 0 1rem 0}
#choryang li p {padding:0 2rem}
}

/* 제조공정 */
#process .section2 {background-color:#efe6d8}
#process .section2 li {width:22%;display:inline-block;float:left;max-width:273px;margin-right:4%;overflow:hidden;margin-bottom:6%}
#process .section2 .box {border:1px solid #b3afaa;text-align:center;background-color:#fff;}
#process .section2 strong {width:100%;display:block;padding:0.8rem 0;font-weight:500;font-size:0.941rem}
#process .section2 li .icon {width:63px;height:30px;display:block;background:url("/_public/images/sub/pc10.svg") center top no-repeat;font-weight:600;text-align:center;line-height:1.7;margin-bottom:1rem}
	/* 제조공정 미디어쿼리 */
@media all and (min-width:991px) {
#process .section2 li:nth-child(4n+4) {margin-right:0}
}
@media all and (max-width:991px) and (min-width:768px) {
#process .section2 li {width:31%;margin-right:3.5%;max-width:100%}
#process .section2 li:nth-child(3n+3) {margin-right:0}
#process .section2 li img {max-width:100%}
}
@media all and (max-width:767px) {
#process .section2 li {width:47%;margin-right:6%;margin-bottom:12%;max-width:100%}
#process .section2 li:nth-child(2n+2) {margin-right:0}
#process .section2 li .icon {width:50px;height:22px;line-height:1.5;margin-bottom:0.7rem;background-size:cover}
}

/* 영진어과 */
#snak {width:100%;}
#snak .section {margin-bottom:7.9rem !important}
@media all and (max-width:1199px) {
#snak .section {text-align:center}
#snak .fl, #snak .fr {float:none !important}
}